@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root {
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    color: #fff;
    font-family: 'Dela Gothic One', cursive;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1.25fr 0.65fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "banner banner banner banner"
    ;
    text-align: center;
    text-transform: uppercase;
}

header {
    align-items: center;
    display: grid;
    background-color: rgb(78, 74, 74);
    grid-area: header;
    padding: var(--my-padding);
}

menu {
    align-items: center;
    display: grid;
    background-color: orangered;
    grid-area: menu;
    padding: var(--my-padding);
}

.hero {
    align-items: center;
    display: grid;
    background-color: rgb(132, 8, 255);
    grid-area: hero;
    padding: var(--my-padding);
}

.image {
    align-items: center;
    display: grid;
    background-color: yellowgreen;
    grid-area: image;
    padding: var(--my-padding);
}

.extra {
    align-items: center;
    display: grid;
    background-color: rgb(16, 223, 16);
    grid-area: extra;
    padding: var(--my-padding);
}

main {
    align-items: center;
    display: grid;
    background-color: darkmagenta;
    grid-area: main;
    padding: var(--my-padding);
}

.banner {
    align-items: center;
    display: grid;
    background-color: orange;
    grid-area: banner;
    padding: var(--my-padding);
}

@media (max-width: 1024px){

    .container{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 0.5fr 1.5fr 2fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "hero hero hero"
        "menu main main"
        "menu banner banner"
        "menu extra image" 
        ;
    }

}

@media (max-width: 480px) {

    .container {
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 0.75fr 1.2fr 1.5fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"
        ;
    }
}